{
  "branches": ["main", "next"],
  "ci": false,
  "extends": "semantic-release-monorepo",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "assets": ["package.json", "packages/*/package.json"],
      "npmPublish": true,
      "lastRelease": "latest"
    }],
    ["semantic-release-monorepo", {
      "mainVersionFile": ["package.json"],
      "updateTypes": ["major", "minor", "patch"],
      "packagesToBump": ["rp-hellow-package1", "rp-hellow-package2", "rp-hellow-package3"]
    }],
    "@semantic-release/git"
  ],
  "dryRun": false,
  "repositoryUrl": "https://github.com/department-of-veterans-affairs/lighthouse-provider-dashboard"


}